openapi: 3.0.3
info:
  title: OfferZone API
  version: 1.1.0
  description: |
    **OfferZone** is a multi-role offer listing platform.

    ### Overview
    - **Customers** can browse offers by city, area, category, brand, or product.
    - **Retailers** can add, update, and delete their products and offers.

    ### Authentication
    All secured endpoints use **JWT Bearer Token** in the `Authorization` header.

  contact:
    name: OfferZone API Support
    email: support@offerzone.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.offerzone.io/v1
    description: Production server
  - url: http://localhost:8000/offerzone
    description: Local development server

tags:
  - name: Authentication
    description: Retailer and customer authentication
  - name: Products
    description: Product management for retailers
  - name: Offers
    description: Offer management and filtering
  - name: Health
    description: API health check endpoint

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check endpoint
      description: Check API health and uptime status.
      responses:
        '200':
          description: API is up and running
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
                  timestamp:
                    type: string
                    format: date-time

# Authentication Endpoints
  /api/v1/auth:
    post:
      tags: [Authentication]
      summary: User signup (Customer or Retailer)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignupRequest'
            examples:
              retailer:
                summary: Retailer example
                value:
                  name: "John Retailer"
                  email: "retailer@example.com"
                  password: "Pass@123"
                  role: "retailer"
      responses:
        '201':
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

# Login Endpoint
  /api/v1/auth/session:
    post:
      tags: [Authentication]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful (returns JWT token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

# Get Current Authenticated User
  /api/v1/profile/me:
    get:
      tags: [Authentication]
      summary: Get current authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Authenticated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

# Refresh Token Endpoint
  /api/v1/auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT access token
      description: Refreshes the JWT access token using a valid refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: New JWT access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5..."
                  expiresIn:
                    type: integer
                    example: 3600
        '401':
          description: Invalid or expired refresh token

# Logout Endpoint
  /api/v1/auth/logout:
    post:
      tags: [Authentication]
      summary: Logout the current user
      description: Invalidates the user's session or refresh token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User logged out successfully
        '401':
          description: Unauthorized or invalid token

# Forgot Password Endpoint
  /api/v1/auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Forgot password
      description: Sends a password reset link to the user's registered email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
      responses:
        '200':
          description: Password reset link sent successfully
        '404':
          description: Email not registered

# Reset Password Endpoint
  /api/v1/auth/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password
      description: Resets the user's password using a valid reset token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Password reset successful
        '400':
          description: Invalid or expired reset token

  /api/v1/auth/change-password:
    put:
      tags: [Authentication]
      summary: Change current password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [oldPassword, newPassword]
              properties:
                oldPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Password changed successfully
        '400':
          description: Incorrect current password
        '401':
          description: Unauthorized

# Product Endpoints
  /api/v1/products:
    post:
      tags: [Products]
      summary: Add a new product
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    get:
      tags: [Products]
      summary: Get all products
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

# Filter Products Endpoint
  /api/v1/products/filter:
    get:
      tags: [Products]
      summary: Filter products by city, category, or brand
      parameters:
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/brand'
      responses:
        '200':
          description: Filtered product list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

# Product by ID Endpoints
  /api/v1/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      parameters:
        - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Products]
      summary: Update a product
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: Product updated
    delete:
      tags: [Products]
      summary: Delete a product
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/idPath'
      responses:
        '204':
          description: Product deleted successfully
  
# Get Products by user ID
  /api/v1/user/{id}/products:
    get:
      tags: [Products]
      summary: Get all products created by the logged-in retailer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of retailer’s product
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

# Offer Endpoints
  /api/v1/offers:
    post:
      tags: [Offers]
      summary: Create a new offer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      responses:
        '201':
          description: Offer created successfully
    get:
      tags: [Offers]
      summary: Get all offers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of all offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'

# Filter Offers Endpoint
  /api/v1/offers/filter:
    get:
      tags: [Offers]
      summary: Filter offers
      parameters:
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/area'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/brand'
        - $ref: '#/components/parameters/product'
      responses:
        '200':
          description: Filtered offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'
        '404':
          $ref: '#/components/responses/NotFound'

# Get Offers by user ID
  /api/v1/user/{id}/offers:
    get:
      tags: [Offers]
      summary: Get all offers created by the logged-in retailer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of retailer’s offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'

components:
  parameters:
    idPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Unique resource ID
    page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
      description: Number of records per page
    city:
      name: city
      in: query
      schema:
        type: string
      description: City name filter
    area:
      name: area
      in: query
      schema:
        type: string
      description: Area name filter
    category:
      name: category
      in: query
      schema:
        type: string
      description: Product category filter
    brand:
      name: brand
      in: query
      schema:
        type: string
      description: Brand filter
    product:
      name: product
      in: query
      schema:
        type: string
      description: Product filter

  responses:
    BadRequest:
      description: Invalid request
    Unauthorized:
      description: Unauthorized or missing token
    NotFound:
      description: Resource not found

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserSignupRequest:
      type: object
      required: [name, email, password, role]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        role:
          type: string
          enum: [customer, retailer]

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5..."
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [customer, retailer]

    Product:
      type: object
      required: [name, brand, category, price, city, area]
      properties:
        id:
          type: string
        name:
          type: string
        brand:
          type: string
        category:
          type: string
        description:
          type: string
        price:
          type: number
        city:
          type: string
        area:
          type: string
        image:
          type: string
          format: uri

    Offer:
      type: object
      required: [product, title, discountPercent, originalPrice, offerPrice, city, area, validFrom, validTill]
      properties:
        id:
          type: string
        product:
          type: string
          description: ObjectId of the product
        title:
          type: string
        description:
          type: string
        discountPercent:
          type: number
        originalPrice:
          type: number
        offerPrice:
          type: number
        validFrom:
          type: string
          format: date
        validTill:
          type: string
          format: date
        city:
          type: string
        area:
          type: string
        isPremium:
          type: boolean
          default: false
